USE [HoSoTrinhKy]
GO
/****** Object:  Table [dbo].[approval_actions]    Script Date: 9/29/2026 3:12:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[approval_actions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[document_id] [bigint] NOT NULL,
	[flow_id] [bigint] NULL,
	[user_id] [bigint] NOT NULL,
	[action] [varchar](30) NOT NULL,
	[comment] [nvarchar](max) NULL,
	[action_time] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[approval_flows]    Script Date: 9/29/2026 3:12:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[approval_flows](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[document_id] [bigint] NOT NULL,
	[step_order] [int] NOT NULL,
	[approver_id] [bigint] NOT NULL,
	[status] [varchar](30) NOT NULL,
	[sent_at] [datetime2](7) NULL,
	[processed_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 9/29/2026 3:12:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[document_id] [bigint] NULL,
	[action] [varchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[ip_address] [varchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[document_files]    Script Date: 9/29/2026 3:12:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[document_files](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[document_id] [bigint] NOT NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[file_path] [varchar](500) NOT NULL,
	[file_type] [varchar](100) NULL,
	[file_size] [bigint] NOT NULL,
	[version] [int] NOT NULL,
	[uploaded_by] [bigint] NOT NULL,
	[uploaded_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documents]    Script Date: 9/29/2026 3:12:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[document_code] [varchar](50) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_by] [bigint] NOT NULL,
	[status] [varchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[completed_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplement_files]    Script Date: 9/29/2026 3:12:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplement_files](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[request_id] [bigint] NOT NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[file_path] [nvarchar](500) NOT NULL,
	[file_type] [varchar](100) NULL,
	[file_size] [bigint] NOT NULL,
	[uploaded_by] [bigint] NOT NULL,
	[uploaded_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplement_requests]    Script Date: 9/29/2026 3:12:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplement_requests](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[document_id] [bigint] NOT NULL,
	[flow_id] [bigint] NOT NULL,
	[requester_id] [bigint] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[status] [varchar](30) NOT NULL,
	[response_comment] [nvarchar](max) NULL,
	[response_user_id] [bigint] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[responded_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 9/29/2026 3:12:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[full_name] [nvarchar](200) NOT NULL,
	[email] [varchar](200) NULL,
	[department] [nvarchar](150) NULL,
	[position] [nvarchar](150) NULL,
	[role] [varchar](30) NOT NULL,
	[active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_backup_before_vietnamese_fix]    Script Date: 9/29/2026 3:12:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_backup_before_vietnamese_fix](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[full_name] [nvarchar](200) NOT NULL,
	[email] [varchar](200) NULL,
	[department] [nvarchar](150) NULL,
	[position] [nvarchar](150) NULL,
	[role] [varchar](30) NOT NULL,
	[active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[approval_actions] ON 

INSERT [dbo].[approval_actions] ([id], [document_id], [flow_id], [user_id], [action], [comment], [action_time]) VALUES (1, 1, NULL, 2, N'CREATE', N'Tạo hồ sơ', CAST(N'2026-09-15T15:14:56.3168589' AS DateTime2))
INSERT [dbo].[approval_actions] ([id], [document_id], [flow_id], [user_id], [action], [comment], [action_time]) VALUES (2, 1, 1, 2, N'SUBMIT', N'Trình hồ sơ đến người ký đầu tiên', CAST(N'2026-09-15T15:14:56.3419960' AS DateTime2))
INSERT [dbo].[approval_actions] ([id], [document_id], [flow_id], [user_id], [action], [comment], [action_time]) VALUES (3, 242, NULL, 1, N'CREATE', N'Tạo hồ sơ', CAST(N'2026-09-19T21:46:22.1392366' AS DateTime2))
SET IDENTITY_INSERT [dbo].[approval_actions] OFF
GO
SET IDENTITY_INSERT [dbo].[approval_flows] ON 

INSERT [dbo].[approval_flows] ([id], [document_id], [step_order], [approver_id], [status], [sent_at], [processed_at]) VALUES (1, 1, 1, 3, N'SIGNED', CAST(N'2026-09-15T15:14:56.2815908' AS DateTime2), CAST(N'2026-09-20T00:30:23.8387590' AS DateTime2))
INSERT [dbo].[approval_flows] ([id], [document_id], [step_order], [approver_id], [status], [sent_at], [processed_at]) VALUES (2, 1, 2, 4, N'SIGNED', CAST(N'2026-09-20T00:30:23.8387590' AS DateTime2), CAST(N'2026-09-26T20:32:10.3394884' AS DateTime2))
INSERT [dbo].[approval_flows] ([id], [document_id], [step_order], [approver_id], [status], [sent_at], [processed_at]) VALUES (3, 1, 3, 5, N'SIGNING', CAST(N'2026-09-26T20:32:10.3394884' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[approval_flows] OFF
GO
SET IDENTITY_INSERT [dbo].[audit_logs] ON 

INSERT [dbo].[audit_logs] ([id], [user_id], [document_id], [action], [description], [ip_address], [created_at]) VALUES (1, 2, 1, N'CREATE_DOCUMENT', N'Tạo hồ sơ HS20260915001', N'127.0.0.1', CAST(N'2026-09-15T15:14:56.3864789' AS DateTime2))
INSERT [dbo].[audit_logs] ([id], [user_id], [document_id], [action], [description], [ip_address], [created_at]) VALUES (2, 2, 1, N'SUBMIT_DOCUMENT', N'Trình hồ sơ đến quy trình ký', N'127.0.0.1', CAST(N'2026-09-15T15:14:56.3864789' AS DateTime2))
INSERT [dbo].[audit_logs] ([id], [user_id], [document_id], [action], [description], [ip_address], [created_at]) VALUES (3, 1, 242, N'CREATE', N'Tạo hồ sơ', NULL, CAST(N'2026-09-19T21:46:22.1703827' AS DateTime2))
SET IDENTITY_INSERT [dbo].[audit_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[document_files] ON 

INSERT [dbo].[document_files] ([id], [document_id], [file_name], [file_path], [file_type], [file_size], [version], [uploaded_by], [uploaded_at]) VALUES (1, 242, N'Phan_tich_thiet_ke_phan_mem_trinh_ky_ho_so_v1.0.docx', N'C:\Users\Admin\Downloads\ho-so-trinh-ky\ho-so-trinh-ky\uploads\fe0d1efd-707e-4389-a550-131031976f94_Phan_tich_thiet_ke_phan_mem_trinh_ky_ho_so_v1.0.docx', N'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 2972061, 1, 1, CAST(N'2026-09-19T21:46:37.4844712' AS DateTime2))
INSERT [dbo].[document_files] ([id], [document_id], [file_name], [file_path], [file_type], [file_size], [version], [uploaded_by], [uploaded_at]) VALUES (2, 243, N'báo cáo nhóm 1.docx', N'C:\Users\Admin\Downloads\ho-so-trinh-ky\ho-so-trinh-ky\uploads\8a4259b9-56b6-4959-bf0f-4f40de434722_báo cáo nhóm 1.docx', N'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 45158, 1, 1, CAST(N'2026-09-25T10:38:44.3808118' AS DateTime2))
INSERT [dbo].[document_files] ([id], [document_id], [file_name], [file_path], [file_type], [file_size], [version], [uploaded_by], [uploaded_at]) VALUES (3, 244, N'báo cáo nhóm 1 (12).docx', N'C:\Users\Admin\Downloads\ho-so-trinh-ky-main\uploads\5b797f2f-f94b-4af3-b371-61461d5af598_báo cáo nhóm 1 (12).docx', N'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 45158, 1, 1, CAST(N'2026-09-25T12:19:06.2610729' AS DateTime2))
SET IDENTITY_INSERT [dbo].[document_files] OFF
GO
SET IDENTITY_INSERT [dbo].[documents] ON 

INSERT [dbo].[documents] ([id], [document_code], [title], [description], [created_by], [status], [created_at], [updated_at], [completed_at]) VALUES (1, N'HS20260915001', N'Hồ sơ đề nghị phê duyệt kế hoạch tài chính', N'Hồ sơ mẫu phục vụ quy trình trình ký 3 cấp.', 2, N'SIGNING', CAST(N'2026-09-15T15:14:56.2345545' AS DateTime2), CAST(N'2026-09-26T20:32:10.3394884' AS DateTime2), NULL)
INSERT [dbo].[documents] ([id], [document_code], [title], [description], [created_by], [status], [created_at], [updated_at], [completed_at]) VALUES (122, N'HS-2026-001', N'Đề nghị mua sắm thiết bị - đợt 1', N'Hồ sơ demo phục vụ kiểm thử hệ thống trình ký nhiều cấp.', 2, N'SIGNING', CAST(N'2026-09-14T18:10:11.6499369' AS DateTime2), CAST(N'2026-09-14T19:10:11.6499369' AS DateTime2), NULL)
INSERT [dbo].[documents] ([id], [document_code], [title], [description], [created_by], [status], [created_at], [updated_at], [completed_at]) VALUES (123, N'HS-2026-002', N'Phê duyệt kế hoạch đào tạo - đợt 1', N'Hồ sơ demo phục vụ kiểm thử hệ thống trình ký nhiều cấp.', 3, N'WAITING_SIGN', CAST(N'2026-09-13T18:10:11.6499369' AS DateTime2), CAST(N'2026-09-13T19:10:11.6499369' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[documents] OFF
GO
SET IDENTITY_INSERT [dbo].[supplement_requests] ON 

INSERT [dbo].[supplement_requests] ([id], [document_id], [flow_id], [requester_id], [message], [status], [response_comment], [response_user_id], [created_at], [responded_at]) VALUES (1, 245, 16, 4, N'rỷegdfgsdfsdfewf', N'WAITING', NULL, NULL, CAST(N'2026-09-25T19:41:53.6734680' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[supplement_requests] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [email], [department], [position], [role], [active], [created_at]) VALUES (1, N'admin', N'$2a$10$gv4tQ6CgVX46Seo3ZZsCmO9xAEoqAfUiL3UiEP.3a65yRRuuQcdTO', N'Quản trị viên', N'admin@gmail.com', N'Phòng Hành chính', N'Quản trị hệ thống', N'ADMIN', 1, CAST(N'2026-09-15T15:14:56.1838094' AS DateTime2))
INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [email], [department], [position], [role], [active], [created_at]) VALUES (2, N'nguyenana', N'$2a$10$lA2MHDBmpyc2qeQJdvnbMenGRiYydaqpIehgcm61jLl/ApWEK80L.', N'Nguyễn Văn A', N'nguyenvana@gmail.com', N'Phòng Hành chính', N'Người lập hồ sơ', N'CREATOR', 1, CAST(N'2026-09-15T15:14:56.1871794' AS DateTime2))
INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [email], [department], [position], [role], [active], [created_at]) VALUES (3, N'tranvanb', N'$2a$10$rck1vj1yOBuNTru2mZ29E.eeOExI7v4xedAehETwA9fUSVNa007pu', N'Trần Văn B', N'tranvanb@gmail.com', N'Phòng Tài chính', N'Trưởng phòng', N'APPROVER', 1, CAST(N'2026-09-15T15:14:56.1974663' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[users_backup_before_vietnamese_fix] ON 

INSERT [dbo].[users_backup_before_vietnamese_fix] ([id], [username], [password_hash], [full_name], [email], [department], [position], [role], [active], [created_at]) VALUES (1, N'admin', N'$2a$10$gv4tQ6CgVX46Seo3ZZsCmO9xAEoqAfUiL3UiEP.3a65yRRuuQcdTO', N'QuÄ‚Â¡Ă‚ÂºĂ‚Â£n trÄ‚Â¡Ă‚Â»Ă¢â‚¬Â¹ viĂ„â€Ă‚Âªn', N'admin@gmail.com', N'PhĂ„â€Ă‚Â²ng HĂ„â€Ă‚Â nh chĂ„â€Ă‚Â­nh', N'QuÄ‚Â¡Ă‚ÂºĂ‚Â£n trÄ‚Â¡Ă‚Â»Ă¢â‚¬Â¹ hÄ‚Â¡Ă‚Â»Ă¢â‚¬Â¡ thÄ‚Â¡Ă‚Â»Ă¢â‚¬Ëœng', N'ADMIN', 1, CAST(N'2026-09-15T15:14:56.1838094' AS DateTime2))
INSERT [dbo].[users_backup_before_vietnamese_fix] ([id], [username], [password_hash], [full_name], [email], [department], [position], [role], [active], [created_at]) VALUES (2, N'nguyenana', N'$2a$10$lA2MHDBmpyc2qeQJdvnbMenGRiYydaqpIehgcm61jLl/ApWEK80L.', N'NguyÄ‚Â¡Ă‚Â»Ă¢â‚¬Â¦n VÄ‚â€Ă†â€™n A', N'nguyenvana@gmail.com', N'PhĂ„â€Ă‚Â²ng HĂ„â€Ă‚Â nh chĂ„â€Ă‚Â­nh', N'NgÄ‚â€ Ă‚Â°Ä‚Â¡Ă‚Â»Ă‚Âi lÄ‚Â¡Ă‚ÂºĂ‚Â­p hÄ‚Â¡Ă‚Â»Ă¢â‚¬Å“ sÄ‚â€ Ă‚Â¡', N'CREATOR', 1, CAST(N'2026-09-15T15:14:56.1871794' AS DateTime2))
INSERT [dbo].[users_backup_before_vietnamese_fix] ([id], [username], [password_hash], [full_name], [email], [department], [position], [role], [active], [created_at]) VALUES (3, N'tranvanb', N'$2a$10$rck1vj1yOBuNTru2mZ29E.eeOExI7v4xedAehETwA9fUSVNa007pu', N'Tran Van B', N'tranvanb@gmail.com', N'PhĂ„â€Ă‚Â²ng TĂ„â€Ă‚Â i chĂ„â€Ă‚Â­nh', N'TrÄ‚â€ Ă‚Â°Ä‚Â¡Ă‚Â»Ă…Â¸ng phĂ„â€Ă‚Â²ng', N'APPROVER', 1, CAST(N'2026-09-15T15:14:56.1974663' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users_backup_before_vietnamese_fix] OFF
GO
/****** Object:  Index [UQ_approval_flows]    Script Date: 9/29/2026 3:12:55 PM ******/
ALTER TABLE [dbo].[approval_flows] ADD  CONSTRAINT [UQ_approval_flows] UNIQUE NONCLUSTERED 
(
	[document_id] ASC,
	[step_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__document__B1C534BEF0D28724]    Script Date: 9/29/2026 3:12:55 PM ******/
ALTER TABLE [dbo].[documents] ADD UNIQUE NONCLUSTERED 
(
	[document_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164B88F0266]    Script Date: 9/29/2026 3:12:55 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC5723FBA8F0E]    Script Date: 9/29/2026 3:12:56 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[approval_actions] ADD  DEFAULT (sysdatetime()) FOR [action_time]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[document_files] ADD  DEFAULT (sysdatetime()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[documents] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[documents] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[supplement_files] ADD  DEFAULT (sysdatetime()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[supplement_requests] ADD  DEFAULT ('WAITING') FOR [status]
GO
ALTER TABLE [dbo].[supplement_requests] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[approval_actions]  WITH CHECK ADD  CONSTRAINT [FK_approval_actions_documents] FOREIGN KEY([document_id])
REFERENCES [dbo].[documents] ([id])
GO
ALTER TABLE [dbo].[approval_actions] CHECK CONSTRAINT [FK_approval_actions_documents]
GO
ALTER TABLE [dbo].[approval_actions]  WITH CHECK ADD  CONSTRAINT [FK_approval_actions_flows] FOREIGN KEY([flow_id])
REFERENCES [dbo].[approval_flows] ([id])
GO
ALTER TABLE [dbo].[approval_actions] CHECK CONSTRAINT [FK_approval_actions_flows]
GO
ALTER TABLE [dbo].[approval_actions]  WITH CHECK ADD  CONSTRAINT [FK_approval_actions_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[approval_actions] CHECK CONSTRAINT [FK_approval_actions_users]
GO
ALTER TABLE [dbo].[approval_flows]  WITH CHECK ADD  CONSTRAINT [FK_approval_flows_documents] FOREIGN KEY([document_id])
REFERENCES [dbo].[documents] ([id])
GO
ALTER TABLE [dbo].[approval_flows] CHECK CONSTRAINT [FK_approval_flows_documents]
GO
ALTER TABLE [dbo].[approval_flows]  WITH CHECK ADD  CONSTRAINT [FK_approval_flows_users] FOREIGN KEY([approver_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[approval_flows] CHECK CONSTRAINT [FK_approval_flows_users]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [FK_audit_logs_documents] FOREIGN KEY([document_id])
REFERENCES [dbo].[documents] ([id])
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [FK_audit_logs_documents]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [FK_audit_logs_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [FK_audit_logs_users]
GO
ALTER TABLE [dbo].[document_files]  WITH CHECK ADD  CONSTRAINT [FK_document_files_documents] FOREIGN KEY([document_id])
REFERENCES [dbo].[documents] ([id])
GO
ALTER TABLE [dbo].[document_files] CHECK CONSTRAINT [FK_document_files_documents]
GO
ALTER TABLE [dbo].[document_files]  WITH CHECK ADD  CONSTRAINT [FK_document_files_users] FOREIGN KEY([uploaded_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[document_files] CHECK CONSTRAINT [FK_document_files_users]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD  CONSTRAINT [FK_documents_users] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[documents] CHECK CONSTRAINT [FK_documents_users]
GO
ALTER TABLE [dbo].[supplement_files]  WITH CHECK ADD  CONSTRAINT [FK_supplement_file_request] FOREIGN KEY([request_id])
REFERENCES [dbo].[supplement_requests] ([id])
GO
ALTER TABLE [dbo].[supplement_files] CHECK CONSTRAINT [FK_supplement_file_request]
GO
ALTER TABLE [dbo].[supplement_files]  WITH CHECK ADD  CONSTRAINT [FK_supplement_file_user] FOREIGN KEY([uploaded_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[supplement_files] CHECK CONSTRAINT [FK_supplement_file_user]
GO
ALTER TABLE [dbo].[supplement_requests]  WITH CHECK ADD  CONSTRAINT [FK_supplement_document] FOREIGN KEY([document_id])
REFERENCES [dbo].[documents] ([id])
GO
ALTER TABLE [dbo].[supplement_requests] CHECK CONSTRAINT [FK_supplement_document]
GO
ALTER TABLE [dbo].[supplement_requests]  WITH CHECK ADD  CONSTRAINT [FK_supplement_flow] FOREIGN KEY([flow_id])
REFERENCES [dbo].[approval_flows] ([id])
GO
ALTER TABLE [dbo].[supplement_requests] CHECK CONSTRAINT [FK_supplement_flow]
GO
ALTER TABLE [dbo].[supplement_requests]  WITH CHECK ADD  CONSTRAINT [FK_supplement_requester] FOREIGN KEY([requester_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[supplement_requests] CHECK CONSTRAINT [FK_supplement_requester]
GO
ALTER TABLE [dbo].[supplement_requests]  WITH CHECK ADD  CONSTRAINT [FK_supplement_response_user] FOREIGN KEY([response_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[supplement_requests] CHECK CONSTRAINT [FK_supplement_response_user]
GO
ALTER TABLE [dbo].[approval_actions]  WITH CHECK ADD  CONSTRAINT [CK_approval_actions_action] CHECK  (([action]='UPLOAD' OR [action]='UPDATE' OR [action]='CREATE' OR [action]='CANCEL' OR [action]='SUBMIT' OR [action]='RETURN' OR [action]='REJECT' OR [action]='APPROVE' OR [action]='VIEW'))
GO
ALTER TABLE [dbo].[approval_actions] CHECK CONSTRAINT [CK_approval_actions_action]
GO
ALTER TABLE [dbo].[approval_flows]  WITH CHECK ADD  CONSTRAINT [CK_approval_flows_status] CHECK  (([status]='RETURNED' OR [status]='REJECTED' OR [status]='SIGNED' OR [status]='SIGNING' OR [status]='WAITING'))
GO
ALTER TABLE [dbo].[approval_flows] CHECK CONSTRAINT [CK_approval_flows_status]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD  CONSTRAINT [CK_documents_status] CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='RETURNED' OR [status]='REJECTED' OR [status]='SIGNED' OR [status]='SIGNING' OR [status]='WAITING_SIGN' OR [status]='DRAFT'))
GO
ALTER TABLE [dbo].[documents] CHECK CONSTRAINT [CK_documents_status]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_role] CHECK  (([role]='APPROVER' OR [role]='CREATOR' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_role]
GO
